---
import Home from "./Home.astro";
import About from "./About.astro";
import ProfileImage from "./ProfileImage.astro";
import Resume from "./Resume.astro";
import Services from "./Services.astro";
import Contact from "./Contact.astro";
---

<main class="content" id="content">
    <Home />
    <About />
    <Resume />
    <Services />
    <!-- <section id="portfolio">portfolio</section> -->
    <!-- <section id="posts">posts</section> -->
    <Contact />
</main>

<style>
    .content {
        flex-grow: 1;
        padding: 20px;
        background-color: var(--primary);
        transition: margin 0.3s ease;
        overflow-y: auto;
        max-height: 100vh;
        padding-bottom: 100px;

        z-index: 1; /* Lower z-index for content */
    }

    .content.full-width {
        margin: 0;
        padding: 20px;
    }
</style>
