<div class="profile-image">
    <img
        src="https://media.licdn.com/dms/image/v2/D5603AQGZ0xTJFnwYmQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1724610992071?e=1733356800&v=beta&t=xXgcMCTZQ2dvux_8qwzZF3D7Q1UEHGI1in7dq8hznJQ"
        alt=""
    />
</div>
<style>
    .profile-image {
        border-radius: 50%;
        overflow: hidden;
        text-align: center;
        max-width: fit-content;
        max-height: fit-content;

        /* background-image: url(); */
    }
    .profile-image > img {
        transform: translateY(0) scale(1.06);
    }
</style>
