---
import IconAS from "./icons/IconAS.astro";
import IconDJ from "./icons/IconDJ.astro";
import IconDK from "./icons/IconDK.astro";
import IconFA from "./icons/IconFA.astro";
import IconJS from "./icons/IconJS.astro";
import IconMONGO from "./icons/IconMONGO.astro";
import IconMSQL from "./icons/IconMSQL.astro";
import IconNX from "./icons/IconNX.astro";
import IconPy from "./icons/IconPy.astro";
import IconRE from "./icons/IconRE.astro";
import IconRS from "./icons/IconRS.astro";
---

<section id="resume">
    <article>
        <div class="section-header">
            <h1>Education.</h1>
            <div class="line"></div>
        </div>
        <div class="timeline">
            <h2>Master of Computer Application (M.C.A.)</h2>
            <p class="text-muted">AKTU / 2019-2022</p>
            <p class="text-muted">
                My journey into the realm of programming reached new heights
                during my M.C.A. studies. Amid the global pandemic, I delved
                deeply into <b>Python</b>, a language that resonated with me not
                just for its syntax, but for its elegant approach to
                problem-solving. The challenges presented by the pandemic pushed
                me into the world of freelancing, a decision that initially
                seemed daunting but ultimately became transformative. Each
                project was not merely a task but a valuable learning experience
                that honed my skills and expanded my perspective as a developer. <b
                    >Deploying applications and managing cloud environments</b
                > became second nature, and collaborating remotely taught me the
                importance of adaptability and communication in a digital workspace.
                These experiences were instrumental in shaping me into a thoughtful
                and versatile professional, prepared for the complexities of the
                tech industry.
            </p>
        </div>

        <div class="timeline">
            <h2>Bachelor of Science (B.Sc.) in Computer Science</h2>
            <p class="text-muted">MGKVP / 2016-2019</p>
            <p class="text-muted">
                My B.Sc. laid the foundation of my programming journey. I
                vividly recall the thrill of mastering <b>C</b> and <b>C++</b>,
                and the moment I successfully wrote my first functional
                program—it was a pivotal experience that empowered my creative
                spirit. However, it was during my final year that <b>Python</b> ignited
                a profound passion within me, opening my eyes to the potential of
                technology to create impactful solutions. This realization became
                a catalyst for my future endeavors, providing clarity on my path
                forward in the tech industry.
            </p>
        </div>

        <div class="timeline">
            <h2>High School and Intermediate (10th + 2)</h2>
            <p class="text-muted">U.P. Board / 2013-2016</p>
            <p class="text-muted">
                While my school curriculum did not offer formal computer science
                courses, I was fortunate to have access to a computer at home. I
                spent countless hours immersed in exploring its
                capabilities—playing games, tinkering with software, and
                uncovering the vast world of technology. These formative
                experiences ignited a deep curiosity and passion for technology,
                shaping my aspirations and laying the groundwork for my career.
                By the time I completed high school, I knew that I was destined
                to pursue a path in technology, as the computer had become not
                just a tool, but the gateway to my future.
            </p>
        </div>
    </article>
    <article>
        <div class="section-header">
            <h1>Experience.</h1>
            <div class="line"></div>
        </div>

        <!-- FaithCode Technologies Experience -->
        <div class="timeline">
            <h2>Software Engineer</h2>
            <p class="text-muted">
                FaithCode Technologies / Jul 2024 - Present ({
                    new Date().getFullYear() -
                        new Date("2024-07-01").getFullYear() !=
                        0 &&
                        new Date().getFullYear() -
                            new Date("2024-07-01").getFullYear()
                }{
                    new Date().getFullYear() -
                        new Date("2024-07-01").getFullYear() !=
                        0 && " yrs ."
                }{
                    (new Date().getFullYear() -
                        new Date("2024-07-01").getFullYear()) *
                        12 +
                        (new Date().getMonth() -
                            new Date("2024-07-01").getMonth()) +
                        1
                } mos)
            </p>
            <p class="text-muted">
                Currently, I am working at <b>FaithCode Technologies</b> as a Software
                Engineer, leading a team of seven developers. My responsibilities
                involve solving complex coding challenges, mentoring team members,
                and delivering high-quality software solutions. This role has allowed
                me to explore <b>DevOps</b> and <b>system architecture</b>,
                broadening my expertise. While I guide the team, I also remain
                hands-on with code, ensuring that we build robust, scalable
                systems. It’s a collaborative environment where learning and
                growth go hand in hand, shaping me into a more versatile
                engineer.
            </p>
        </div>

        <!-- CXL Technologies Experience -->
        <div class="timeline">
            <h2>Software Engineer</h2>
            <p class="text-muted">
                CXL Technologies / Mar 2022 - Jun 2024 (2 yrs . 4 mos)
            </p>
            <p class="text-muted">
                At <b>CXL Technologies</b>, I had the opportunity to work on
                large-scale projects such as <b>CRMs</b>. I enhanced my skills
                in <b>Python</b>, <b>Django</b>, <b>React</b>, <b>OCI</b> and <b
                    >AWS</b
                >, and played a critical role in improving coding standards and
                processes. After a year, I was tasked with leading a small team
                to develop a new project, applying both my technical and
                leadership skills. This experience taught me how to manage
                projects, collaborate effectively within teams, and execute
                solutions that meet both client and company needs.
            </p>
        </div>

        <!-- Freelance Experience -->
        <div class="timeline">
            <h2>Freelance Software Developer</h2>
            <p class="text-muted">Nov 2019 - Jan 2023 . (3 yrs . 3 mos)</p>
            <p class="text-muted">
                Freelancing during my M.C.A. allowed me to experiment with a
                wide range of technologies, including <b>React</b>, <b
                    >Python FastAPI</b
                >, <b>Angular</b>, and <b>Node.js</b>. This period was
                invaluable in helping me learn to adapt quickly and tackle
                real-world development challenges. Each project was a hands-on
                opportunity to broaden my skillset and explore industry tools.
                Freelancing sharpened my problem-solving abilities and gave me
                the flexibility to stay on the cutting edge of modern
                development practices.
            </p>
        </div>
    </article>
    <article>
        <div class="section-header">
            <h1>Skills.</h1>
            <div class="line"></div>
        </div>
        <div id="skills" class="skills">
            <IconPy width="82" height="82" /> 
            <IconDJ width="82" height="82" />
            <IconFA width="82" height="82" />
            <IconJS width="82" height="82" />
            <IconRE width="82" height="82" />
            <IconAS width="82" height="82" />
            <IconNX width="82" height="82" />
            <IconRS width="82" height="82" />
            <IconMSQL width="82" height="82" />
            <IconMONGO width="82" height="82" />
            <IconDK width="82" height="82" />
        </div>
    </article>
</section>

<style>
    .timeline {
        position: relative;
        padding-left: 25px;
    }
    .timeline::after {
        position: absolute;
        border: solid 2px var(--light);
        background-color: var(--accent);
        top: 0;
        left: 0;
        content: "";
        height: 11px;
        width: 11px;
        border-radius: 50%;
        border-spacing: 2;
    }
    .timeline::before {
        position: absolute;
        /* border: solid 2px rgb(255, 255, 255); */
        background-color: var(--light);
        top: 8px;
        left: 6px;
        width: 2px;
        content: "";
        height: 100%;
        /* width: 10px; */
        border-spacing: 2;
    }
    #skills {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: start;
    }
</style>
